/*=========================================================================== */
        /*---------- General Styles -------------*/
/*=========================================================================== */
html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

html, body {
    width: 100%;
    min-width: 100%;
/*    min-height: 800px;*/
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    margin: 0;
    font-family: Raleway-Regular !important;
    -webkit-background-size: cover;
    background-size: cover;
    color: #555;

}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

a {}

.container {
    height: 100%;
}
/**--------- Aligning Divs ---------**/
.center-h {
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
}

.center-v {
    top: 50%;
    transform: translate(0%, -50%);
    position: absolute;
}

.center-c {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.center-page {
    width: 100%;
    margin: 0 auto;
}

/*----- Colors with opacity ----*/

.red-overlay {background-color:rgba(255,0,0,0.3);}
.green-overlay {background-color:rgba(0,255,0,0.3);}
.blue-overlay {background-color:rgba(0,0,255,0.3);}
.grey-overlay {background-color:rgba(192,192,192,0.6);}
.yellow-overlay {background-color:rgba(255,255,0,0.3);}
.cerise-overlay {background-color:rgba(255,0,255,0.3);}
.white-overlay {background-color:rgba(255,255,255, 0.5);}
.black-overlay {background-color: rgba(0, 0, 0, 0.6);}
.teal-overlay {background-color: rgba(2, 132, 130, 0.7);}
.orange-overlay {background-color:rgba(232,122,74,0.4);}


/*Overlay transition */

/*
@keyframes overlay-change {
    0% {background-color:rgba(192,192,192,0.6);}
    25% {background-color:rgba(255,0,0,0.3);}
    75% {background-color:rgba(0,255,0,0.3);}
    100% {background-color:rgba(255,255,0,0.3);}

}

@-webkit-keyframes overlay-change {
    0% {-webkit-background-color:rgba(192,192,192,0.6);}
    25% {-webkit-background-color:rgba(255,0,0,0.3);}
    75% {-webkit-background-color:rgba(0,255,0,0.3);}
    100% {-webkit-background-color:rgba(255,255,0,0.3);}
}
*/

/*-----------------------------------------*/
/*Background colors*/
.orange-text {color: #E87A4A !important;}
.orange-bg {background-color: #E87A4A !important;}

.yellow-text {color: #e2e43a !important;}
.yellow-bg {background-color: #e2e43a !important;}

.pink-text {color: #F0414C !important;}
.pink-bg {background-color: #F0414C !important;}

.purple-text {color: #4F4FE0 !important;}
.purple-bg {background-color: #4F4FE0 !important;}

.teal-text {color: teal !important;}
.teal-bg {background-color: teal !important;}

.aliceblue-text {color: aliceblue !important;}

/*Colors*/
.teal {color: teal !important;}
.wanjugu {color: #F0414C !important;}
.kirwa{color: #e2e43a !important;}
.ben { color: #E87A4A !important;}
/*-----------------------------------------*/
/* Borders */
.round-shadow {
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 2px #000;
}

.semi-round-shadow {
    border: 1px solid #fff;
    border-radius: 1px;
    box-shadow: 0 0 10px #000;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 2px #000;
}

.box-shadow {
    border: 3px solid #fff;
    box-shadow: 0 0 10px #fff;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 2px #000;
}

.round-plain{
    border-radius: 5px;
    box-shadow: 0 0 1px #000;
    padding: 20px 20px;
    margin: 5px;
    text-decoration: none;
}

.box-plain{
    border-radius: 5px;
    box-shadow: 0 0 1px #000;
    padding: 20px 20px;
    text-decoration: none;
}

/*-----------------------------------------*/
/*Foundation Icon sizes*/

.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }

/*-----------------------------------------*/
/*Foundation media queries*/

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/**-----------------------------------------------------**/

#whole {
    width: 100%;
    height: 100%;
}

/**-----------------------------------------------------**/
/*Menu Text Colors*/
/*Home*/
.H {color: teal !important;}

/*Portfolio*/
.P {color:  #F0414C !important;
    color: #e2e43a !important;
}

/*Team*/
.T {color: #e2e43a !important;
    color: #E87A4A !important;}

/*Contact*/
.C {color: #E87A4A !important;
    color:  #F0414C !important}
