
/*-----------------------------------------*/
/* Extra Large Devices, Wide Screens */
@media only screen and (max-width : 1800px) {
    #bt-menu {
        visibility: hidden;
    }
}

/*---------------------------------------------------------------*/
/* Large Devices, Wide Screens */
/*----------------------------------------------------------------*/
/*@media only screen and (max-width : 1279px) {*/
@media only screen and (max-width : 1800px) {
    /*Hamburger*/
    .top-menu{
        height:0px;
    }

    .ham-menu {
        visibility: hidden;
    }

    .

    .cover {
        width: 100%;
        height: calc(100% - 0px);
        z-index: 10;
    }


    /*-----------vertical -menu--------*/
    .v-nav, .home-content, .contents {
        position: relative;
        height: 100vh;
    }

    .v-nav {
        width: 150px !important;
        text-align: center;
        margin: 0 auto;
    }

    .home-content, .contents {
        width: calc(100% - 150px) !important;
    }

    .flex {
        width: 60px;
        height: 410px;
        top: 40px;
        z-index: 1005;
    }

    .flex div {
        width: 60px;
        height: 80px;
        color: #fff;
        text-align: center;
        padding-top: 35%;
        margin: 0 auto;
    }

    .flex div p {
        font-family: Raleway-SemiBold;
        font-size: .8rem;
    /*    font-weight: bold;*/
    }

    .menu-title {
        visibility: hidden;
        font-size: 1.3rem;
        margin-top: 3px;
        width: 0px;
    }

    .menu-item {
    /*    visibility: hidden;    */
    }

    .menu-item p{

    }

    #hamburger {
        visibility: hidden;
        height: 0px;
    }

    .flex div:hover, .flex div p:hover {
        color: #fff;
    }

    .flex div:hover, .h-flex div:hover{
    /*    background-color:rgba(192,192,192,0.6);*/
        border: 1px solid #fff;
        border-radius: 1px;
    }

    .flex div:selected, .h-flex div:selected {
        border: 1px solid #fff;
        border-radius: 1px;
    }



    /*-----------horizontal - menu--------*/

    .h-nav {
        height: 70px;
        width: 100% !important;
        position: relative;
/*        top:70px;*/
        visibility: hidden;
    }

    .h-flex {
        width: 500px;
        height: 70px;
    /*    padding-top: 10px;*/

    }

    .h-flex div{
        width: 80px;
        height: 80px;
        color: #fff;
        text-align: center;
        padding-top: 15%;
        margin: 0 10px;
    }


    .h-flex div p {
        font-family: Raleway-SemiBold;
        font-size: .8rem;
    /*    font-weight: bold;*/
    }

    .menu-icon-h img {
       width: 40px;

    }

    .menu-icon-h .menu-title {
        visibility: hidden;
        font-size: 0rem;
    }

    .flex  div:hover, .flex  div p:hover {
        color: #fff;
    }
}


/*----------------------------------------------------------------*/
/*Medium screens*/
/*----------------------------------------------------------------*/
@media only screen and (max-width : 992px){


    /*-----------veritcal -menu--------*/
    .v-nav, .home-content, .contents  {
        position: relative;
        height: 100vh !important;
    }

    .v-nav {
        width: 100px !important;
        height: 100vh;
        text-align: center;
        margin: 0 auto;
    }

    .home-content, .contents{
        width: calc(100% - 100px) !important;
        height: 100vh;
        left: 0%;
    }

    .flex {
        width: 60px;
        position: absolute;
        top: 10px
    }

    .flex div{
        width: 50px;
        height: 80px;
    }

    .flex div p {
        font-family: Raleway-SemiBold;
        font-size: .8rem;
    }

    .flex  div:hover, .flex  div p:hover {
        color: #fff
    }

    .h-nav {
        height: 0px;
    }

}

/*----------------------------------------------------------------*/
 /*Small screens*/
@media screen and (max-width: 768px) {

    .home-content, .contents {
        position: absolute;
        width: 100% !important;
        left: 0%;
    }

    .home-descr, descr {
        height: 600px;
        width: 700px !important;
        top: 70px;
    /*    top: 50%;*/
        left: 50%;
        transform: translate(-50%, 0%);
        position: absolute;
    }

/*-----------vertical -menu--------*/
    .v-nav {
        width: 0px !important;
        height: 100vh;
        text-align: center;
        margin: 0 auto;
        visibility: hidden;
    }

    .v-nav {
        visibility: hidden;
    }

    /*-----------horizontal-menu--------*/
    .h-nav {
        height: 80px;
        width: 320px !important;
        visibility: visible;

        position: absolute;
        top: -20px;
        z-index: 100;
    }

    .h-flex {
        width: 100%;
        height: 80px;
        visibility: visible;
    /*    padding-top: 10px;*/
        display: inline-flex

    }

    .h-flex div {
        width: 60px;
        height: 80px;
        color: #fff;
        text-align: center;
        padding-top: 25%;
        margin-right: 10px;
    }

    .h-flex div p {
        font-family: Raleway-SemiBold;
        font-size: .8rem;
    /*    font-weight: bold;*/
    }

    .h-flex div img {
        width: 28px;
    }

    .h-nav .menu-item {
        visibility: visible;
    }

    .menu-icon-h img {
       width: 40px;
    }

    .menu-icon-h .menu-title {
    /*        visibility: hidden;*/
        font-size: 0rem;
    }

    .contact-logo {
        visibility: hidden;
    }

/*    team h-menu*/
    #team .h-nav {
        top: 10px;
    }
}

/*----------------------------------------------------------------*/
/* Extra Small Devices */
/*-------------------------------------------------------------------*/
@media screen and (max-width: 632px) {
    /*-----------horizontal-menu--------*/
    .h-nav {
        height: 70px;
/*        width: 480px !important;*/
        visibility: visible;
        top: 0;
    }

    .h-flex {
        width: 100%;
        height: 70px;
    /*    padding-top: 10px;*/

    }

    .h-flex div{
        width: 60px;
        height: 70px;
        color: #fff;
        text-align: center;
        padding-top: 15%;
    }

    .h-flex div img {
        width: 25px;
    }
    .h-flex div p {
        font-family: Raleway-SemiBold;
        font-size: .75rem;
    /*    font-weight: bold;*/
    }

}

/*----------------------------------------------------------------*/
/* Phones */
/*----------------------------------------------------------------*/
@media only screen and (max-width : 480px) {

    /*-------------------------------*/
     /*Hamburger*/
    .top-menu{
        height:50px;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 100;
    }

    .page-content {
        position: absolute;
        width: 100%;
        top: 0;
    }

    .ham-menu {
        visibility:visible;
    }

    .cover {
        width: 100%;
        height: calc(100% - 50px);
        z-index: 10;
    }

    /*-------------------------------*/
    .v-nav {
        width: 0px !important;
        height: 100vh;
        text-align: center;
        margin: 0 auto;

    }

    .home-content {
        position: absolute;
        width: 100% !important;
        left: 0%;

    }

    .h-nav, .h-flex .menu-item {
        height: 0px;
        visibility: hidden !important;
    }

    .flex{
        top: 0;
    }

}


