/*---------------------------------------------------------------*/

/*------------------------------*/
#contact-section {
    height: 100%;
    width: 100%;
    color: #ccc !important;
    background: url(../img/pattern_stripe.png);
}

#cover {
    height: 100vh;
    width: 100%;
}

/*Everything*/
/*------------------------------------------------------------*/

#contact {
    width: 600px;
    height: 600px;
    position: absolute;

    /*center-h*/
    top: 0px;
    left: 43%;
    transform: translate(-50%, 0%);

}

.contact-logo{
    margin-bottom: 40px;
    height: 60px;
    width: 100px;
}


.drop-line {
    font-family: SlimJoe;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 0px;
    height: 50px;
}

.form-area {

}

.material-icons.prefix {
        text-align: center;
        width: auto;
        height: auto;
    }

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    color: #ccc !important;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    outline: none;
    height: 2.7rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 5px 0;
    padding: 0;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
}

.buttons {
    margin-bottom:30px 0 30px 0;
}

#submit-button {
    width: 220px;
    height: 45px;
/*    background-color:rgba(232,122,74,.8); Orange*/
    background-color:rgba(255,0,0,0.2) !important;
    margin-top: 30px;
    border: .5px solid #fff;
    border-radius: 1px;
}

#submit-button:hover{
    background-color:rgba(255,0,0,0.3) !important;
}


