/*---------------------------------------------------------------*/
#bt-menu {
    visibility: hidden;
}
#hamburger {
    visibility: hidden;
    height: 0px;
}

.menu, .contents {
    position: relative;
    height: 100vh !important;
    z-index: 100;
    overflow: hidden;
}

.menu {
    width: 100%;
}

.v-nav {
    height: 100vh;
    width: 150px !important;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
}

.contents{
    width: calc(100% - 150px) !important;
    height: 100vh;
}

.flex {
    width: 60px;
    height: 410px;
    top: 40px;
    z-index: 999;
}

.flex div{
    width: 60px;
    height: 90px;
    color: #fff;
    text-align: center;
    padding-top: 35%;
}

.flex div p {
    font-family: Raleway-SemiBold;
    font-size: .8rem;
/*    font-weight: bold;*/
}

.flex div:hover, .flex div p:hover {
    color: #fff;

}

.flex div:hover, .h-flex div:hover{
/*    background-color:rgba(192,192,192,0.6);*/
    border: 2px solid #fff;
    border-radius: 2px;
}


.strapline {
    font-size: 1rem !important;
}

/*------------------------------*/
#contact-section {
    height: 100%;
    width: 100%;
    color: #ccc !important;
    background: url(../img/pattern_stripe.png);
}

#cover {
    height: 100vh;
    width: 100%;
}

/*Everything*/
/*------------------------------------------------------------*/

/*-----------horizontal -menu--------*/
.h-nav {
    height: 0px;
    width: 100% !important;
    position: absolute;
    visibility: hidden;
}

.h-flex {
    width: 480px;
    height: 70px;
/*    padding-top: 10px;*/

}

.h-flex div{
    width: 70px;
    height: 60px;
    color: #fff;
    text-align: center;
    padding-top: 15%;
}


.h-flex div p {
    font-family: Raleway-SemiBold;
    font-size: .8rem;
/*    font-weight: bold;*/
}

.menu-icon-h img {
   width: 40px;
}

.menu-icon-h .menu-title {
/*        visibility: hidden;*/
    font-size: 0rem;
}


.menu-item {
/*    visibility: hidden;    */
}

/*-------------------------------------------------------------------*/
#contact {
    width: 600px;
    height: 600px;
    position: absolute;

    /*center-h*/
    top: 100px;
    left: 43%;
    transform: translate(-50%, 0%);

}

.contact-logo{
    margin-bottom: 70px;
    height: 60px;
    width: 100px;
}


.drop-line {
    font-family: SlimJoe;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 0px;
    height: 50px;
}

.form-area {

}

.material-icons.prefix {
        text-align: center;
        width: auto;
        height: auto;
    }

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    color: #ccc !important;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    outline: none;
    height: 2.7rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
}

.buttons {
    margin-bottom:30px 0 30px 0;
}

#submit-button {
    float:right;
    width: 150px;
    height: 45px;
    background-color:rgba(232,122,74,.8);
}

#github-button {
    width: 150px;
    height: 45px;
    margin-left: 150px;

/*    text-transform: lowercase;*/
}

#github-button span{
    position: absolute;
    top: 5px;
    left: 30px;

}
#github-button img{
    position: absolute;
    height: 20px;
    padding-top: 2px;
    top: 12px;
    left: 97px
}

