/*-----------------------------------------*/
/* Extra Large Devices, Wide Screens */
@media only screen and (max-width : 1800px) {
    #bt-menu {
        visibility: hidden;
    }
}


/*---------------------------------------------------------------*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1279px) {
    #bt-menu {
        visibility: hidden;
    }

}
/*----------------------------------------------------------------*/
/*Medium screens*/
@media only screen and (max-width : 992px){

    .menu, .contents {
        position: relative;
        height: 100vh !important;
        z-index: 100;
    }

    .menu {
        width: 100%;
    }

    .v-nav {
        height: 100vh;
        width: 150px !important;
        height: 100vh;
        text-align: center;
        margin: 0 auto;
    }

    .contents{
        width: calc(100% - 150px) !important;
        height: 100vh;
    }

    #contact {
        width: 600px;
        height: 600px;
        position: absolute;
        left: 40%;
        transform: translate(-50%, 0%);
    }

    .drop-line {
        font-size: 25px;
        height: 50px;
    }


    #bt-menu {
    visibility: hidden;
    }

    #hamburger {
        visibility: hidden;
        height: 0px;
    }



    .flex div p {
        font-family: Raleway-SemiBold;
        font-size: .8rem;
    /*    font-weight: bold;*/
    }

    .strapline {
        font-size: 1rem !important;
    }

    /*------------------------------*/
    #contact-section {
        height: 100%;
        width: 100%;
        color: #ccc !important;
        background: url(../img/pattern_stripe.png);
    }

    #cover {
        height: 100vh;
        width: 100%;
    }
}


/*----------------------------------------------------------------*/
/*Medium screens*/
@media only screen and (max-width : 769px){

    .v-nav, .menu {
        width: 0px !important;
        visibility: hidden;
    }

    .contents{
        width: 100% !important;
        position: absolute;
        height: 100vh;

    }

    /*----------------------------------*/
    #contact {
        width: 90%;
        top: 100px;

        /*center-h*/
        left: 50%;
        transform: translate(-50%, 0%);
        position: absolute;
    }

    /*-----------horizontal -menu--------*/

    .h-nav, .h-flex .menu-item {
        visibility: visible;

    }

    .h-nav, .contact-logo, .drop-line, .form-area {
        position: relative;

}
    .h-nav {
        height: 70px !important;
        width: 480px !important;
        visibility: visible;
        top: -40px;
        margin-bottom: 20px;
    }

    .h-flex {
        width: 100%;
        height: 70px;
    /*    padding-top: 10px;*/

    }

    .h-flex div{
        width: 70px;
        height: 80px;
        color: #fff;
        text-align: center;
        padding-top: 25%;
    }

    .h-flex div p {
        font-family: Raleway-SemiBold;
        font-size: .8rem;
    /*    font-weight: bold;*/
    }

    .menu-icon-h img {
       width: 40px;
    }

    .menu-icon-h .menu-title {
    /*        visibility: hidden;*/
        font-size: 0rem;
    }


    .menu-item {
    /*    visibility: hidden;    */
    }

    /*------------------*/
    .contact-logo{
    margin-bottom: 20px;
    }

    .drop-line {
        font-size: 1.5rem;
        height: 30px;
    }


    input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {

    border-bottom: 1px solid #ccc;
    border-radius: 0;
    outline: none;
    height: 2.5rem;
    width: 100%;
    font-size: .8rem;
    margin: 0 0 6px 0;
    padding: 0;

    }

    .buttons {
    margin: 40px 0 30px 0;
    }

    #submit-button {
        float:right;
        width: 100px;
        height: 35px;
        background-color:rgba(232,122,74,.8);
        font-size: .8rem;
    }

    #github-button {
        width: 100px;
        height: 35px;
        margin-left: 30px;
        font-size: .8rem;

    /*    text-transform: lowercase;*/
    }

    #github-button span{
        position: absolute;
        top:0px;
        left: 13px;

    }
    #github-button img{
        position: absolute;
        height: 20px;
        padding-top: 2px;
        top: 7px;
        left: 66px
    }

    .contact-logo img {
        width: 80px;
        height: 50px;
    }
}

/*---------------------------------------------------------------*/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    #hamburger {
        visibility: visible;
        margin: 20px;
    }

    .flex{
        top: 0;
    }

    #hamburger img {
        width: 50%
    }


    #contact {
        width: 100%;
        height: 450px;
        top: 0px;
    }

    .h-nav, .h-flex .menu-item {
        visibility: hidden;
        height: 0px;
    }

    .contact-logo {
        margin-bottom: 10px;
    }
    .contact-logo img {

        width: 60px;
        height: 30px;
    }

    .drop-line {
        font-size: 1.2rem;
    }

    form .row {
        width: 95%;
    }

    .material-icons.prefix {
        font-size: 1.5rem;
        text-align: center;
        width: auto;
        height: auto;
    }

    input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {

    border-bottom: 1px solid #ccc;
    border-radius: 0;
    outline: none;
    height: .7rem;
    width: 100%;
    font-size: .5rem;
    margin: 0 0 2px 0;
    padding: 0;

    }

    .buttons {
    margin: 35px 0 35px 0;
    }

    #submit-button {
        float:right;
        width: 80px;
        height: 35px;
        background-color:rgba(232,122,74,.8);
        font-size: .8rem;
    }
}

