/*----------------------------------------------------------------->*/

h1, h2, h3, h4, h5{
    color: #636;
    font-family: SlimJoe;
}

video{
  position:fixed;
  left:0;top:0;
  min-width:100%;
  min-height:100%;
  width:auto;
  height:auto;
  z-index:-100;
  visibility: visible;
  background: url(img/pattern_stripe.png);

}
#logo{
  width: 320px; height: 320px;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
  border-radius: 50%;
/*  background: url(images/pattern_stripe.png);*/
}
#vCent{
  display: table;
  height: 320px; width: 320px;
  overflow: hidden;
}
#vCent h1{
  font-family: 'Amaranth', sans-serif;
  display: table-cell; vertical-align: middle;
  font-size:5em;
  letter-spacing:.02em;
  line-height: .8em;
  color: #636;
}

.strapline{
  padding: 20px 0;
  color: #fff;
  font-size: 2.5em;
  text-align: center;
}

stripe .x_bg{ background: url(../img/pattern_stripe.png);
height: 100%;
   -webkit-linear-gradient(transparent, transparent);
   -webkit-background-clip: text;
    color: transparent;
     background: -o-linear-gradient(transparent, transparent);
}
.cntr{
  margin: 0 auto;
  width: 95%;
  max-width: 960px;
  line-height: 1.6em;
}
.lines{
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}
.white{
  background: #fff;
  padding: 40px 0;
}
a{
  display: inline-block;
  color: #fff;
  text-decoration: none;
/*  background: #398583;*/
  padding:.5rem;
  transition:.3s background;
}

a:hover{
/*  background:#398583;*/
}

hr {
  height:1px;
  background-color:#ddd;
  border:none;
}

.third{
  float: left;
  width: 30%;
  padding: 0 1.5%;
}

.clearfix{ clear: both; }
.spacer { min-height: 240px; }
.dark_bg { background:rgba(0,0,0,0.5); }
.smll { font-size: 0.8em;
  color: rgba(255,255,255,0.5);
}
.respond {
  max-width: 100%;
}
.small_spacer { min-height: 120px; }
.thin_bg{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,55,55,0.9)), color-stop(80%,rgba(55,55,55,0)),color-stop(100%,rgba(55,55,55,0.3))), url(images/thin_stripe.png);
}
.about-img{
  max-width: 360px;
  display: block;
  float: right;
}
.dark2_bg {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(45,45,45,0)), color-stop(100%,rgba(45,45,45,0.8))), url(images/dot.png);;
}
.dark{
  background: #222;
  padding: 40px 0;
}
.dark p, .dark h2{
  color: #999;
}

@media screen and (max-width: 768px) {
    body{overflow-y: visible;}
  video{ visibility:hidden;}
  #logo{width: 200px; height: 200px; margin: 30px auto;}
  #vCent{width: 200px; height: 200px;}
  #vCent h1{font-size:3em;}
  .strapline{font-size:2em;}
    .shade1{font-size: 20px;}
}

/*-------------------------------------------*/
body {
    color: #555;
    width: 100%;
/*    overflow-y: scroll;*/
    height: 100vh;
/*    min-height: 800px;*/
    background: url(../img/pattern_stripe.png);
    z-index: 0;

}

header {
    height: 100vh;
}

.cover{
    width: 100%;
    height: 100%;
/*    min-height: 800px;*/
    z-index: 10;

}

/*------------------------------------------------------------------*/
/*-----------vertical -menu--------*/

.menu, .home-content {
    position: relative;
    height: 100vh;
}

.menu, v-nav {
    width: 150px !important;
    text-align: center;
    margin: 0 auto;
}

.home-content {
    width: calc(100% - 150px) !important;
}

.flex {
    width: 60px;
    height: 410px;
    top: 40px;
    z-index: 1005;
}

.flex div {
    width: 60px;
    height: 80px;
    color: #fff;
    text-align: center;
    padding-top: 35%;
    margin: 0 auto;
}

.flex div p {
    font-family: Raleway-SemiBold;
    font-size: .8rem;
/*    font-weight: bold;*/
}

.menu-title {
    visibility: hidden;
    font-size: 1.3rem;
    margin-top: 3px;
    width: 0px;
}

.menu-item {
/*    visibility: hidden;    */
}

.menu-item p{

}

#hamburger {
    visibility: hidden;
    height: 0px;
}

.flex div:hover, .flex div p:hover {
    color: #fff;

}

.flex div:hover, .h-flex div:hover{
/*    background-color:rgba(192,192,192,0.6);*/
    border: 2px solid #fff;
    border-radius: 2px;
}

/*
.menu-item:hover {
    background-color: #555 !important;
     background-color:rgba(192,192,192,0.6)
}
*/

/*
.menu-item.home:hover {
    background-color: teal !important;
}

.menu-item.portfolio:hover {
    background-color: #F0414C !important;
}

.menu-item.team:hover {
    background-color: aliceblue !important;
}

.menu-item.contact:hover {
    background-color: #E87A4A !important;
}
*/



/*------------------------------------------------------------*/
/*-----------horizontal - menu--------*/

.h-nav {
    height: 70px;
    width: 100% !important;
    position: absolute;
    top:70px;
    visibility: hidden;
}

.h-flex {
    width: 500px;
    height: 70px;
/*    padding-top: 10px;*/

}

.h-flex div{
    width: 80px;
    height: 80px;
    color: #fff;
    text-align: center;
    padding-top: 15%;
}


.h-flex div p {
    font-family: Raleway-SemiBold;
    font-size: .8rem;
/*    font-weight: bold;*/
}

.menu-icon-h img {
   width: 40px;

}

.menu-icon-h .menu-title {
    visibility: hidden;
    font-size: 0rem;
}

.flex  div:hover, .flex  div p:hover {
    color: #fff;
}

/*-------------------------------------------------------------------*/
.home-descr {
    height: 500px;
    width: 700px !important;
    top: 150px;
    position: absolute;
    left: 45%;
    transform: translate(-50%, 0%);

}

.logo-big {
    height: 60px;
    width: 120px;

}
.moringa-title {
    margin-top: 50px;

}

.moringa-title span {
    font-family: Metropolis;
    font-size: 5.5rem;
/*
    -webkit-animation: shadow 2s ease-in infinite;
    -moz-animation: shadow 2s ease-in infinite;
    animation: shadow 2s ease-in infinite;
*/
}

.slogan{
  font-family: Raleway-Regular;
    padding: 10px;
    margin: 50px 0 60px 0;
}

.slogan span {
    font-size: 1.1rem;
    width: 500px;
    height: auto;
    word-wrap: break-word;
    white-space: normal;
}

#btn-click {
    padding: 20px 0 20px 0;

}

.more-btn {
    padding: 15px 40px 15px 40px;
    font-size: 1.3rem;
    letter-spacing: 0px;
    color: aliceblue;
}

.more-btn:hover{
    background-color:rgba(255,255,255, 0.5);
    box-shadow: 0 0 3px #398583;
    text-shadow: 0 0 2px #fff;
    color: teal;
    border: 3px solid #398583;
}

.btntour{
  width: 25%;
  border:1px solid white;
  height: auto;
  cursor: pointer;

}
.btntour:hover{
  color: #8DC89C;
  border: 2px solid #8DC79E;
}


.shade1{
    font-size:70px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: none;
    z-index: auto;
    width: auto;
    height: auto;
    position: static;
    cursor: default;
    margin: 0;
    padding: 10px;
    overflow: visible;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}
.shade2{
  color: #DB5659;
  font-weight: bolder;
}
.shade3{
    color: #8DC89C;
      font-weight: bolder;
      display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: none;
    z-index: auto;
    width: auto;
    height: auto;
    position: static;
    cursor: default;
    margin: 0;
    padding: 10px;
    overflow: visible;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;

    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}

.shade4{
    color: #fff;

      font-weight: bolder;
      display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: none;
    z-index: auto;
    width: auto;
    height: auto;
    position: static;
    cursor: default;
    margin: 0;
    padding: 10px;
    overflow: visible;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 15px;
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
     line-height: 1.5em;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
/*    text-shadow: 0 0 3px rgba(255,255,255,1) , 0 0 3px rgba(255,255,255,1) , 0 0 3px rgba(255,255,255,1) , 0 0 3px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;*/
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    }

.shade5{
    color: #8DC89C;
    font-weight: bolder;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: none;
    z-index: auto;
    width: auto;
    height: auto;
    position: static;
    cursor: default;
    margin: 0;
    padding: 10px;
    overflow: visible;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;

    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}

.shade6 {

}

.se-pre-con
{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
    background-color: black;
	background: url(../img/proloader.gif) center no-repeat #000;
}

@-webkit-keyframes typing {
    from { width: 0 }
    to { width:16.3em }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width:16.3em }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

body { font-family: Consolas, monospace; }

h1 { 
    font-size:150%;
    width:16.3em;
    white-space:nowrap;
    overflow:hidden;
    border-right: .1em solid black;
    
    -webkit-animation: typing 17s steps(30, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 17s steps(30, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
}

/*--------------------------------------------------*/
/*-----------Page 2--------------*/

#page2 {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100vh;
    overflow: hidden;
}
/*---------------*/
/*about us*/
#about-us {
    margin: 0 auto;
    padding: 0;
    height: calc(100% - 60px);
    width: 100%;
    background-color: #fff;
    position: relative;
}

#about-us h5 {
    color: #000;
}

#page2-about, #page2-what-we-do {
    height: 320px;
    width: 100%;
    position: relative;
}
#page2-about {
    margin-top: 40px;
}
#page2-what-we-do {
    margin-top: -40px;

}
.about, .what_we_do {
    width: 80%;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

.about div, .what_we_do div {
    position: relative;
}

.about h4 {}

.title-underline {
    width: 100%;
    height: 1px;
}

.about-content, .what_we_do_content {
    width: 80%;
    font-size: 1rem;
    color:dimgrey;
    line-height: 1.5rem;
    text-align: justify;
    padding: 20px;
}



/*---------------*/
/*Footer*/

#footer {
    height: 60px;
    color: #fff;
    background: #555;
    bottom: 0;
}

.copyright, .social {
    width: 100%;
    height: 100%;
}

.copyright{
  font-size: .9rem;
    position: relative;
}

.copy {
    width: 200px;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    position: absolute;

}
.social {

}

.flex-div {
    width: auto;
    height: 100%;
    display: inline-flex;
    float: right;
    margin-top: 3%;
}

.flex-div div {
    width: 40px;
}

.flex-div div img {
    width: 30px;

}
