/*-----------------------------------------*/
/* Extra Large Devices, Wide Screens */
@media only screen and (max-width : 1800px) {
    #bt-menu {
        visibility: hidden;
    }
}


/*---------------------------------------------------------------*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1279px) {
    #bt-menu {
        visibility: hidden;
    }
}


/*----------------------------------------------------------------*/
/*Medium screens*/
@media only screen and (max-width : 992px){

    /*-----------the content--------*/
   .home-descr {
    height: 500px;
    width: 700px !important;
    top: 100px;

/*    center-h*/
    position: absolute;
    left: 47%;
    transform: translate(-50%, 0%);

    }

    .header-bar{
      width: 100%;
      margin-bottom: 100px;
    }

    .logo-big {
        height: 60px;
        width: 100px;

    }
    .moringa-title {
        margin-top: 50px;

    }

    .moringa-title span {
        font-family: Metropolis;
        font-size: 5.3rem;
    }

    .slogan{
        font-family: Raleway-Regular;
        padding: 10px;
        margin: 50px 0 60px 0;
    }

    .slogan span {
        font-size: 1.1rem;
        width: 500px;
        height: auto;
        word-wrap: break-word;
        white-space: normal;
    }
    #btn-click {
        padding: 20px 0 20px 0;

    }

    .more-btn {
        padding: 15px 40px 15px 40px;
        font-size: 1.3rem;
        letter-spacing: 0px;
        color: aliceblue;
    }

    .more-btn:hover{
        background-color:rgba(255,255,255, 0.5);
        box-shadow: 0 0 3px #398583;
        text-shadow: 0 0 2px #fff;
        color: teal;
        border: 3px solid #398583;
    }

    .btntour{
      width: 25%;
      border:1px solid white;
      height: auto;
      cursor: pointer;

    }
    .btntour:hover{
      color: #8DC89C;
      border: 2px solid #8DC79E;
    }
}


/*----------------------------------------------------------------*/
 /*Small screens*/
@media screen and (max-width: 769px) {

    .m-logo, .moringa-title, .slogan, #btn-click{
        position: relative;
    }

    /*-----------horizontal-menu--------*/
    .h-nav {
        height: 70px;
        width: auto !important;
        visibility: visible;

        position: absolute;
        top: 0;
    }

    .h-flex {
        width: 100%;
        height: 70px;
    /*    padding-top: 10px;*/

    }

    .h-flex div{
        width: 70px;
        height: 80px;
        color: #fff;
        text-align: center;
        padding-top: 25%;
    }


    .h-flex div p {
        font-family: Raleway-SemiBold;
        font-size: .8rem;
    /*    font-weight: bold;*/
    }

    .h-nav .menu-item {
        visibility: visible;
    }

    /*-----------content--------*/
    .m-logo {
        margin-top: 100px;
    }

    .logo-big {
        visibility: hidden;
/*        height: 0px;*/
    }

    .moringa-title {
        margin-top: 50px;

    }

    .moringa-title span {
        font-family: Metropolis;
        font-size: 5.5rem;
    }

    .slogan{
        font-family: Raleway-Regular;
        padding: 10px;
        margin: 50px 0 60px 0;
    }

    .slogan span {
        font-size: 1.1rem;
        width: 500px;
        height: auto;
        word-wrap: break-word;
        white-space: normal;
    }

    #btn-click {
        padding: 20px 0 20px 0;

    }

    .more-btn {
        padding: 15px 40px 15px 40px;
        font-size: 1.3rem;
        letter-spacing: 0px;
        color: aliceblue;
        border: 2px solid #fff;
    }

    .more-btn:hover{
        background-color:rgba(255,255,255, 0.5);
        box-shadow: 0 0 3px #398583;
        text-shadow: 0 0 2px #fff;
        color: teal;
        border: 3px solid #398583;
    }
}

/*----------------------------------------------------------------*/
/* Extra Small Devices */
@media screen and (max-width: 632px) {

    /*-----------content--------*/
    .m-logo {
        margin-top: 30px;

    }

    .logo-big {
        height: 60px;
        width: 100px;
    }

    .moringa-title {
        margin-top: 50px;
        width: 100%;
        font-size: 1rem;

    }

    .moringa-title span {
        font-family: Metropolis;
        font-size: 4.5rem;
    }

    .slogan{
        font-family: Raleway-Regular;
        padding: 10px;
        margin: 50px 0 60px 0;
    }

    .slogan span {
        font-size: 1.1rem;
        width: 460px;
        height: auto;
        word-wrap: break-word;
        white-space: normal;
    }

    #btn-click {
        padding: 20px 0 20px 0;

    }

    .more-btn {
        padding: 15px 40px 15px 40px;
        font-size: 1rem;
        letter-spacing: 0px;
        color: aliceblue;
        border: 2px solid #fff;
    }

    .more-btn:hover{
        background-color:rgba(255,255,255, 0.5);
        box-shadow: 0 0 3px #398583;
        text-shadow: 0 0 2px #fff;
        color: teal;
        border: 3px solid #398583;
    }

    /*-----------horizontal-menu--------*/
    .h-nav {
        height: 70px;
        width: 480px !important;
        visibility: visible;
        top: 0;
    }

    .h-flex {
        width: 100%;
        height: 70px;
    /*    padding-top: 10px;*/

    }

    .h-flex div{
        width: 60px;
        height: 70px;
        color: #fff;
        text-align: center;
        padding-top: 15%;
    }

    .h-flex div img {
        width: 25px;
    }
    .h-flex div p {
        font-family: Raleway-SemiBold;
        font-size: .75rem;
    /*    font-weight: bold;*/
    }

}

/*----------------------------------------------------------------*/
/* Phones */
@media only screen and (max-width : 480px) {

    /*-----------the content--------*/
    .home-content {
        width: 100% !important;
        height: 100vh;
        min-height: 100%;
        position: absolute;
    }

    .home-descr {
        height: 330px;
        width: 100%;
        position: absolute;

        /*center-h*/
/*
        left: 50%;
        transform: translate(-50%, 0%);
        top: 30px;
*/
        /*center-c*/
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .m-logo {

    }


    .logo-big {
        height: 40px;
        width: 60px;
    }

    .moringa-title {
        margin-top: 10px;
    }

    .moringa-title span {
        width: 100%;
        height: auto;
        font-family: Metropolis;
        font-size: 2.5rem;
        text-align: center;
        word-wrap: break-word;
        white-space: normal;
    }


    .slogan {
        margin: 30px 0 40px 0;
    }

    .slogan span {
        font-size: .8rem;
        width: 300px;
        height: auto;
        word-wrap: break-word;
        white-space: normal;
    }

    #btn-click {
        padding: 10px 0 20px 0;

    }

    .more-btn {
        padding: 12px 30px 12px 30px;
        font-size: .8rem;
        letter-spacing: 0px;
        color: aliceblue;
        border: 1px solid #fff;
    }

    .more-btn:hover{
        background-color:rgba(255,255,255, 0.5);
        box-shadow: 0 0 3px #398583;
        text-shadow: 0 0 2px #fff;
        color: teal;
        border: 1px solid #398583;
    }

    .btntour{
      width: 25%;
      border:1px solid white;
      height: auto;
      cursor: pointer;

    }
    .btntour:hover{
      color: #8DC89C;
      border: 2px solid #8DC79E;
    }

}
