/* The Body
============================================================================= */
html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

html, body {
    width: 100%;
    height: auto;
    min-width: 100%;
/*    min-height: 100%;*/
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    margin: 0;


    font-family: Raleway-Regular;
/*    opacity: .3;*/
    background: url(../overlays/05.png) #323333 center center repeat;
/*    background: url(../img/pattern_stripe.png) #000;*/
    color: #555;
    z-index: 0;

}

h1, h2, h3, h4, a {
    color: #636;
    font-family: SlimJoe;
}

.container {
    height: 100%;
    width: 90% !important;
}

/**-----------------------------------------------------**/

#whole {
    width: 100%;
    height: 100%;
}

.cover {

}

/*------------------------------------------------------------------*/
/*-----------vertical -menu--------*/

.row .x-bg {
    width: 100%;
    height: 100vh;
}

.menu, .contents {
    position: relative;
    width: 100%;
    height: 100vh !important;
    z-index: 100;
}

.v-nav {
    height: 100vh;
    width: 150px !important;
    height: 100vh;
    text-align: center;
    margin: 0 auto;

}

.contents{
    width: calc(100% - 150px) !important;
    height: 100vh;
    left: -5%;
    padding: 0 !important!;
}

.flex {
    width: 60px;
    height: 410px;
    top: 40px;
    z-index: 100;


    position: absolute;
    left: 7%;
}

.flex div{
    width:60px;
    height: 80px;
    color: #fff;
    text-align: center;
    padding-top: 35%;
}

.flex div p {
    font-family: Raleway-SemiBold;
    font-size: .8rem;
/*    font-weight: bold;*/
}

#hamburger {
    height: 0px;
    visibility: hidden;
}

.menu-title {
/*        visibility: hidden;*/
    font-size: 1.3rem;
    margin-top: 3px;
}

.menu-item {
/*    visibility: hidden;    */
}

.flex div:hover, .flex div p:hover {
    color: #fff;
}

.flex div:hover{
/*    background-color:rgba(192,192,192,0.6);*/
    border: 2px solid #fff;
    border-radius: 2px;
}

/*------------------------------------------------------------*/
/*-----------horizontal -menu--------*/

.h-nav {
    height: 0px;
    width: 100% !important;
    position: absolute;

}

.h-flex {
    width: 420px;
    height: 70px;
/*    padding-top: 10px;*/
    visibility: hidden;

}

.h-flex div{
    width: 80px;
    height: 80px;
    color: #fff;
    text-align: center;
    padding-top: 15%;
}


.h-flex div p {
    font-family: Raleway-SemiBold;
    font-size: .8rem;
/*    font-weight: bold;*/
}

.menu-icon-h img {
   width: 40px;
}

.menu-icon-h .menu-title {
/*        visibility: hidden;*/
    font-size: 0rem;
}


.menu-item {
/*    visibility: hidden;    */
}

.flex  div:hover, .flex  div p:hover {
    color: #fff;
}

.flex  div:hover, .h-flex div:hover{
    border: 1px solid #fff;
    border-radius: 2px;
/*
    box-shadow: 0 0 10px #000;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 2px #000;*/

}

/*-------------------------------------------------------------------*/
.descr {
    height: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    position: relative;
/*    margin-top: 40px;*/
    padding: 0 !important;
}

header {}
#portfolio-logo, #portfolio-intro {
/*    position: absolute;*/
}

/*----logo----*/
#portfolio-logo {
    padding-top: 10px;
    width: 100%;
    height: 70px;
}

/*----Description----*/
#portfolio-intro {
    width: 100%;
    height: 150px;
    padding: 10px 0 10px 0;
/*    margin-bottom: 20px;*/
/*    top: 70px;*/
}

.page-title {
    font-family: SlimJoe;
    font-size:30px;
    font-weight: bolder;
    margin-bottom:20px;
    height: 40px;
    color: white
}

.intro-text {
    font-size: 1.1rem;
    height: auto;
/*    padding: 50px 0 30px 0;*/
}

.intro-text p {
    height: 27px;
}


/*----The projets arrangement ----*/
#con_flex {
    font-family: Raleway-Regular;
    width: 1130px;
    position: relative;
    padding: 0 !important;
/*    margin-top: 5px;*/
}

section {
    font-family: Raleway-Regular;
/*    width: 1130px;*/
/*    position: relative;*/
    padding: 0 !important;
    margin-top: -50px;
}

/*---- The divs ----*/


/*Images*/

.con_jan,.con_pres{
    width:calc(49% - 4px);
    height: 430px;
    padding:16px;
    margin: 8px;
    margin-bottom:10px;
    overflow:hidden;
    border-radius:4px;
    background-color:#14181c;
    border:2px solid transparent;
    color:#ffffff;
    cursor:default;
    float:right;
    margin-left: 0px;
    -webkit-transition:border .1s linear;transition:border .1s linear
}

.con_pres:hover {
    cursor: pointer;
}

.con_pres_img {
    height: 300px;
    position:relative;
    left:2px;
    width:calc(100% + 34px);
    margin-left:-16px;
    margin-top:-16px;
    margin-bottom:16px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    overflow:hidden;
}

/*Transparency transition*/


.text_on_image {
    width: 100%;
    height: 100%;
    font-family: Metropolis;
    font-size: 10rem;

    -webkit-transition:opacity 2s linear;
    transition:opacity 2s linear;

}
.text_on_image:hover {
    opacity:1;
    filter:alpha(opacity=100);
}


/*ihub portfolio*/
#ihub:hover, #recruit:hover, #hire-zippy:hover, #ratibar:hover, #inside-out:hover {
    background-size: cover;
    color: transparent;
    transition: all 1s ease;
}


#ihub, #ihub-text .title {
    color: #e2e43a;
}

#ihub:hover {
    background-image: url(/img/fi.png) ;
/*    color: transparent*/
}

/*Laikiana portfolio*/
#recruit, #recruit-text .title {
    color: #F0414C;

}
#recruit:hover {
    background-image: url(/img/qfilemanager.png);
    color: transparent;
}

/*hire zippy portfolio*/

#hire-zippy, #hirezippy-text .title{
    color: #E87A4A;

}

#hire-zippy:hover {
    background-image: url(/img/hirezippy_screen.png);
}

/*ratibar portfolio*/

#ratibar, #ratibar-text .title {
    color: #9DD950;
}

#ratibar:hover {
    background-image: url(/img/ratiba.jpg);
}


/*inside out portfolio*/
#inside-out, #insideout-text .title {
    color: teal;
}
#inside-out:hover {
    background-image: url(/img/insideout.png);

}


/*Text*/
.con_pres_text{
    letter-spacing:
}

.con_pres_text_left, .con_pres_text_right{
    height: auto;
}

.text.regular {
    font-family: Raleway-Regular;
    color: #C4C4C4;
    font-size: 1rem;
    word-spacing: .2rem;
    left: -1rem;
}

.title {
/*    font-family: Raleway-Regular;*/
}

